.search-bar{
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 50%;
}

.font-page{
  color: white;
  font-size: 25px;

}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  boarder: 1px solid $ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee
}


.img-size{
    display: block;
    margin-top: 10px;
    padding: 10px;
    boarder: 5px solid #eee;
    border-radius: 4px;
    width: 40%;
    margin-top: 20rem;
    margin-bottom: 20rem;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

body {
  font-family: 'Lora';
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
